

html, body{
    height: 100%;
    background-color: rgba(255, 255, 250);
}

/* Hide File input elements. */
input[type="file"] {
    display: none;
}

/* Style the file open menu item. */
.custom-file-upload {
    border: none;
    display: inline-block;
}

#svgSimple {
    width: 100%;
    height: 100%;
}

.d3viz {
    position: fixed;
    height: 90%;
    width: 80%;
    right: 2%;
    border: 3px solid rgba(0, 0, 0, 1);
}

#projectmenu {
    border: 2px solid rgba(0, 0, 0, 0.15);
}

#subselect {
    position: relative;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
}

#subselectcaption {
    color: rgba(255,255,255,.5);
}

#sidebarMenu {
    max-height: 100vh;
    overflow-y: scroll;
}

#sidebarMenu .nav-item:hover {
    background-color: rgba(200, 200, 200, 0.5);
}

::-webkit-scrollbar {
    width: 1px;
}



main {
    top:0;
    bottom: 0;
    width: 100%;
}


.nav-link.sidebar-selected {
    background-color: lightgray;
    color: blue;
}

.createLineFirstNode * {
    fill: rgba(200, 0, 125, 0.85);
}

.selected * {
    stroke: rgba(255, 200, 105, 0.85);
    fill: rgba(255, 255, 0, 0.85);
}

/* Cover Modal */
#modalCover .modal-dialog{
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-content {
    border: 2px solid rgba(0, 0, 0, 0.5) ;
    border-radius: 10px;
    box-shadow: 50px 50px 1000px #5a5a5a, -50px -50px 1000px #ffffff, 0px 0px 100px 400px rgba(220, 220, 255, 0.25);
}

#modalCover .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
    border: 0px solid rgba(0, 0, 0, 0.5);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }